/* COLORS */
:root {
  --light-green: #c3e6cb;
  --hover-green: #b1dfbb;
  --dark-green: #155724;
  --darker-green: #07200d;
  --transparent-grey: #00000079;
}

/* MAIN */
* {
  color: var(--darker-green);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* GENERAL */

div > h1 {
  margin-bottom: 20px;
}
div > p {
  margin-bottom: 0px;
}

li > a {
  color: var(--dark-green);
}
li > a:hover {
  color: var(--dark-green);
}

.clickable {
  cursor: pointer;
}

/* NAVBAR */

.navbar {
  background-color: var(--dark-green);
  margin-bottom: 30px;
}

.navbar-link {
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
}
.navbar-link:hover {
  color: white;
  text-decoration: none;
}

/* CONTAINERS */

.container {
  margin-bottom: 40px;
}

.box {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--light-green);
  width: 100%;
}

.image-container {
  position: relative;
  text-align: center;
}

.top-right {
  background-color: white;
  color: var(--darker-green);
  border-radius: 5px;
  border-color: var(--transparent-grey);
  border-width: 1px;
  border-style: solid;
  padding: 2px;
  position: absolute;
  top: 8px;
  right: 8px;
}

.remove-top-right {
  background-color: var(--transparent-grey);
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  top: 8px;
  right: 8px;
}

.remove-top-right > i {
  color: white;
}

/* BUTTONS */

a.btn-bar {
  background-color: var(--dark-green);
  color: white;
  width: 200px;
}
a.btn-bar:hover {
  background-color: var(--darker-green);
  color: white;
}

.ingredient-list {
  height: 200px;
  border-width: 5px;
  border-color: var(--dark-green);
  border-left-style: solid;
  background-color: var(--light-green);
}
