/* COLORS */
:root {
  --light-green: #c3e6cb;
  --mustard: #f9c126;
  --hover-green: #b1dfbb;
  --simple-green: #00ad28;
  --dark-green: #155724;
  --dark-red: #bd0000;
  --darker-red: #810000;
  --darker-green: #07200d;
  --transparent-grey: #00000079;
}

/* MAIN */
* {
  color: var(--darker-green);
  font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* GENERAL */
div > p {
  margin-bottom: 0px;
}
a,
button.link {
  color: var(--simple-green);
  background: none !important;
  border: none;
  padding: 0 !important;
}
a:hover,
button.link:hover {
  color: var(--dark-green);
  background: none !important;
  border: none;
  text-decoration: underline;
  padding: 0 !important;
}
.clickable {
  cursor: pointer;
}

/* NAVBAR */
.navbar {
  background-color: var(--dark-green);
}
.navbar-link {
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
}
.navbar-link:hover {
  color: white;
  text-decoration: none;
}
.nav-item,
.navbar-brand,
.navbar-icon {
  color: white;
}
.nav-item:hover,
.navbar-brand:hover,
.navbar-icon:hover {
  color: white;
}

/* CONTAINERS */
.container-fluid {
  margin-top: 20px;
}
.box {
  padding: 10px 20px; /*top-bottom, right-left,*/
  border-radius: 5px;
  background-color: var(--light-green);
  width: 100%;
}
.image-container {
  position: relative;
  text-align: center;
}
.top-right {
  background-color: white;
  color: var(--darker-green);
  border-radius: 5px;
  border: solid 1px var(--transparent-grey);
  padding: 2px;
  position: absolute;
  top: 8px;
  right: 8px;
}
.ingredient-list {
  height: 200px;
  border-width: 5px;
  border-color: var(--dark-green);
  border-left-style: solid;
  background-color: var(--light-green);
}
.ingredient-list-mobile {
  height: 200px;
}
.category-title {
  border-bottom: solid 1px var(--transparent-grey);
}
.hover-opacity:hover {
  background: rgba(230, 230, 230, 0.8);
  opacity: 0.8;
}
.star-on {
  color: var(--mustard);
}
.star-off {
  color: black;
}

/* SIDEBAR */
.sidebar {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 70px 0px 50px 0px; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  border-left: solid 1px var(--transparent-grey);
}
.sidebar-sticky {
  border-top: solid 1px var(--transparent-grey);
  position: relative;
  top: 0;
  height: 93%;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
@media (max-width: 575px) {
  .sidebar {
    top: 5rem;
  }
}

/* BAR */
.stick-bottom {
  position: absolute;
  bottom: 5px;
}
p.empty-bar {
  margin: 20px;
}
.badge-pill {
  background-color: var(--dark-green);
}
.sidebar-btn {
  margin-top: 8px;
}
.sidebar-btn > button {
  width: 50%;
}
.my-bar-btn {
  margin: 20px 0px;
}
.my-bar-btn > button {
  padding: 8px 0px;
  font-size: 20px;
  width: 100%;
}
.badge-bar {
  border-radius: 10px;
  position: relative;
  bottom: 10px;
  background-color: var(--mustard);
  color: var(--darker-green);
}
.plus-sign > i {
  color: var(--dark-green);
}

/* BUTTONS */
.btn-cocktailme-red {
  background-color: var(--dark-red);
  border-radius: 3px;
  color: white;
  font-size: 12px;
}
.btn-cocktailme-red:hover {
  background-color: var(--darker-red);
  color: white;
}
.btn-cocktailme {
  background-color: var(--dark-green);
  border-radius: 3px;
  color: white;
  font-size: 12px;
  font-family: "Raleway";
  text-decoration: none;
  border-width: 0px;
  padding: 8px;
}
.btn-cocktailme:hover {
  color: white;
  background-color: var(--darker-green);
}
.btn-cocktailme-clear {
  background-color: white;
  color: var(--dark-green);
  border: 1px solid var(--transparent-grey);
  border-radius: 3px;
  font-size: 12px;
}
.btn-cocktailme-clear:hover {
  background-color: var(--dark-green);
  color: white;
}

/* PAGINATION */
.pagination > li > button,
.pagination > li > button > i {
  background-color: white;
  color: var(--dark-green);
}
.pagination > li.disabled > button > i {
  color: var(--transparent-grey);
}
.pagination > li > button:focus,
.pagination > li > button:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > button {
  color: white;
  background-color: var(--dark-green) !important;
  border: solid 1px var(--dark-green) !important;
}
.pagination > .active > button:hover {
  background-color: var(--dark-green) !important;
  border: solid 1px var(--dark-green);
}

/* AUTH */
.btn-auth {
  width: 100%;
  height: 50px;
}
.input-auth {
  height: 50px;
}
.auth-container {
  width: calc(100% - 50px);
  max-width: 500px;
  margin: auto;
}
.favorites-container {
  width: calc(100% - 100px);
  max-width: 900px;
  margin: auto;
}

/*MAIN PAGE*/
.element > div.card {
  background-color: var(--light-green);
  width: 100%;
  margin: auto;
}
h5.card-title {
  margin-bottom: 0px;
}
p.card-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.caption,
.nav-name {
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
img.disabled {
  opacity: 0.3;
}
.figure {
  margin-bottom: 10px;
}
.cocktails,
.element {
  margin-left: 0px;
}

/* TOAST */
.Toastify__toast-body {
  color: white;
}
